html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(42, 101, 228);
    display: grid;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    height: 400px;
    width: 400px;
    background-color: rgb(151, 148, 148);
}

.grid-box {
    border: 1px solid rgb(41, 241, 91);
    color: red;
    font-size: 50px;
    display: grid;
    grid-template-rows: 1fr .3fr;
}
h1 {
    color: white;
    text-align: center;
}

.game-board-button {
    background-color: white;
    grid-row: 2 / 3;
}

.start-game-button {
    margin-top: 25px;
}

.clear-board-button {
    margin-top: 15px;
}